<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
        <div class="container">
          <div class="title"> &nbsp;VERIFY YOUR EMAIL
            <div class="sign" style="cursor:pointer">
              <a  (click)="signIn()" >SignIn</a>
            </div>
         </div>
          <div class="input-form">
            <div class="section-1">
               <div class="items">
                  <label class="label">Please click on the link that has been sent to your email account to change your password.<br><br><p> If you did not recieve the email, Please click the button below to resend</p></label>
                </div>
            </div>       
          </div>
          <div class="btn">
            <a (click)="verification()" >&nbsp;&nbsp;<span class="verify">
              <i class="glyphicon glyphicon-envelope"></i></span>RESEND VERIFICATION EMAIL&nbsp; &nbsp;
            </a>
           </div>
        </div>        
</body>
</html>